<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>cred.com</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="mystyle4.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>All-Job</title>
    <script src="JS/allJobs.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
                <div class="row">
                        <div class="logo">
                           <a href="file:///C:/Users/HP/Desktop/yadav%20ji/job/landing3.html#about"><img src="./img/logo.jpg" style="width: 80%; height: 100%; background-color: gray;"></a>
                        </div>
                    
                </div>
                <div>
                   <a href="file:///C:/Users/HP/Desktop/yadav%20ji/job/landing3.html#home"><button type="button" class="btn btn-outline-info mt-4 mb-4 " style="padding:8px 40px;margin-top: 100rem;">< back</button></a>
                </div>
                <div class="textcontent font-weight-bold">
                  applying to quality analyst-<br>  customer support
                </div>
        </div>
        <div class="containt">
        <form action="">
                <div class="row container1">
                        <div class="col-25">
                          <label for="email">upload resume <span style="color:red">*</span></label>
                        </div><br><br><br><br>
                        
                         <!-- <div class="col-75">
                            <input type="file" id="myFile" name="filename"  required>
                            <div class="text"> (File size should be <= 2MB)</div>
                        </div><br><br> -->
                
                <div class="col-75">
                <!-- <div class="col-md-12 col-sm-12 col-xs-12">  -->
                  <span class="input-group-btn" style=" padding-left: 20px;">
                  <input type="text" style="float: left;width: 60%;font-size:16px;" size="30" ng-model="fileName" id="filename" name="filename" class="form-control apply-job-formcontrol new-in ng-pristine ng-invalid ng-invalid-required" disabled="" ng-required="job.candidateEmails=='Y'  || data.careerSite=='Mandatory'" required="required">
                  <label for="fileUpload" class="btn btn-theme btn-file  new-in-btn" id="title" style="    background-color: #4354b3; text-transform: lowercase;color: #fff;">Choose file..</label> 										
                  <input type="file" name="fileUpload" value="test" style="display: none;" ng-model="file" id="fileUpload" onchange="angular.element(this).scope().setFileName(this);angular.element(this).scope().submitResume();" class="input-group-addon ng-pristine ng-valid">
                   <input type="hidden" id="isResumeMandatory" name="isResumeMandatory" value="Y"> 
                   <div class="text"> (File size should be <= 2MB)</div>
                
                </span> </div>
              </div>
                


            <div class="row">
              <div class="col-25">
                <label for="name">name <span style="color:red">*</span></label>
              </div>
              <div class="col-75 row ml-1">
              <div class="col-37" >
                <input type="text" id="name" name="name" placeholder="first Name" required>
              </div>
              <div class=" col-37">
                <input type="text" id="name1" name="name1" placeholder="last Name" required>
              </div>
            </div><br><br><br><br>
            </div>
            <div class="row">
                    <div class="col-25 form-group">
                      <label for="form_name">email <span style="color:red">*</span></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="email" name="email" required="required"  class="form-control" data-error="Firstname is required." >
                    </div>
            </div>
            <div class="row">
                    <div class="col-25">
                      <label for="number">phone number </label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="number" name="number" >
                    </div>
            </div><br>
            <div class="row">
                    <div class="col-25">
                      <label for="experience">total experience (in<br>  years)<span style="color:red">*</span> </label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="experience" name="experience" required>
                    </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="location">current location <span style="color:red">*</span>  </label><br><br>
              </div>
              <div class="col-75">
                <input type="text" id="location" name="location" required >
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="company">last company worked for <span style="color:red">*</span></label>
              </div>
              <div class="col-75">
                <input type="text" id="company" name="company" required >
              </div>
            </div>
            <div class="captcha" >
                <div class="g-recaptcha" data-sitekey="6LeQaNMUAAAAAOLI_BFlaXA3-_kXDeLrSJ0_Enn-" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                <div class="help-block with-errors">
            </div>
                
            </div><br>
            <div class="submit">
              <input type="submit" value="submit">
            </div><br><br><br>
          </form>
    </div>
</div>
</body>
</html>






