 *{
    font-family: Gilroy, sans-serif;
}

  .container{
    border-radius: 5px;
    background-color: #f7f7f7;
    min-height: 50rem;
  }
  .containt{
      padding:3rem;
      width: 60%;
      font-weight: bold;
      
  }
  .header{
      padding-top: 2rem;
      padding-left: 2.4rem;

  }
  .textcontent{
      font-size: 170%;
  }
  .backbutton{
    padding: 12px 40px;
    background: rgb(255, 255, 255);

  }
 
  input[type=text], [type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #e5e5e5;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: rgb(10, 13, 185);
    color: white;
    padding: 12px 26px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 25%;
    text-align: center;
  }
.rr{
    font-size: 130%;
    margin-left:-24%;
}
  
  /* .container1{
  
    padding: 20px;
  } */
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .captcha{
    margin-left: 24%;
  }
  input[type="submit"] {
    width: 15rem;
    border-radius: 7px;
    margin-right: 11.5rem;
    padding: 20px;
}
.text {
  font-size: 12px;
  font-weight: 300;
  color: grey;
}
/* label {
  font-size: 20px;
} */
a.btn.success.nano.bg-white {
  border-radius: 10px;
  padding: 10px;
  font-weight: 800;
}
input#name1 {
  margin-left: 10px;
}
label#title {
  margin-left: -23px;
}