*{
	margin:0%;
	padding: 0%;
	font-family: Gilroy, sans-serif;
}

/* img {
    width: 7rem;
    margin-left: 5rem;
} */
.header {
   overflow: hidden;
   padding: 20px 10px;
   /* border: 1px red; */
   /* box-shadow: .1px .1px #d3d0d0; */
}
.header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}
.header a.logo {
   font-size: 25px;
   font-weight: bold;
   margin-left: 20%;
}
/* .header a:hover {
   background-color: #ddd;
   color: black;
} */
.header a.active {
   background-color: dodgerblue;
   color: white
}
.header-right {
   float: right;
   margin-right: 20%;
}
@media screen and (max-width: 500px) {
   .header a {
   float: none;
   display: block;
   text-align: left;
   }
.header-right {
   float: none;
}
}
.ViewJob{
   margin-top: 10%;
   margin-left: 36%;
   font-size: 280%;
   font-weight: 500;
}
.rr1{
   margin-left: -2%;
}
.rr{
   margin-left: -7%;
}
.button {
   border-radius: 15px;
   border: none;
   font-size: 20px;
   padding: 10px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 7%;
   margin-top: 1%;
}
.button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   /* transition: 0.5s; */
}
.button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;

}
/* .button:hover span {
   padding-right: 25px;
} */
/* .button:hover span:after {
   opacity: 1;
   right: 0;
} */
img.paddedBox.shadow1 {
   height: 25rem;
   border-radius: 20px;
}
img.paddedBox.shadow2 {
   border-radius: 20px;
   height: 15rem;
   margin-top: 10rem;
   margin-left: 1rem;
}
img.paddedBox.shadow3 {
   border-radius: 20px;
   height: 19rem;
   margin-left: 30rem;
   margin-top: -21rem;
}
img.paddedBox.shadow4 {
   border-radius: 20px;
   height: 13rem;
}
img.paddedBox.shadow5 {
   border-radius: 20px;
   margin-left: 26rem;
   margin-top: -13rem;
   height: 15rem;
}
img.paddedBox.shadow6 {
   border-radius: 20px;
   height: 12rem;
   margin-left: 53.5rem ;
   margin-top: -19.5rem;
}
.head2 {
   margin-left: 42rem;
   font-size: 18px;
   font-weight: 500;
   color: rgb(109, 107, 107);
   margin-top: -3rem;
}
.head {
   margin-left: 26rem;
   font-size: 35px;
   color: #2828b5;
   font-weight: 600;
}
.vl {
   border-left: 2px solid lightgray;
   height: 130px;
   margin-left: 40rem;
   margin-top: -8rem;
}

.Crousell-heading{
   padding:3%;
   font-size: 110%;
   font-weight: bold;
}
.Crousell-pictures{
   margin-bottom: 10%;
}
.Crousell-text{
   font-size: 150%;
   color: black;
}
.col-lg-6.col-sm-12.Crousell-text {
   font-size: 18px;
   line-height: 39px;
   font-weight: 600;
   margin-top: -2rem;
   margin-left: -3rem;
   padding: 30px;
   
}
div#myCarousel {
   margin-left: -7rem;
   margin-top: -1rem;
}
img {
   width: 30rem;
   margin-left: 2rem;
}

.head3 {
   font-size: 40px;
   font-weight: 800;
   color: #2828b5;
   margin-left: 17rem;
}
.head4 {
   margin-left: 42rem;
   margin-top: -11rem;
   font-size: 20px;
   color: rgb(114, 101, 101);
   line-height: 35   px;
   font-weight: 500;
}
hr {
   width: 270px;
   margin-top: 15rem;
   
}

.para {
   margin-left: 17rem;
   margin-top: 1.9rem;
   font-size: 18px;
   font-weight: 500;
   color:rgb(114, 101, 101); ;
}
.footer.bg-light.pb-4 {
   padding: 70px;
}
.card-deck img{
   width: 80px;
   float: left;
}
p.card-text.cardHeading {
   font-size: 30px;
   float: left;
   font-weight: 600;
}
p.card-text.cardText {
   float: right;
}
.card2 {
   margin-left: 30rem;
   margin-top: -15rem;
   
}
img.card-img-top2 {
   height: 25rem;
   width: 20rem;
   
}
.card-body.shadow {
   /* padding: 1rem; */
   margin-left: 1.5rem;
}
.card3 {
   margin-top: -15rem;
}
a.btn.btn-primary {
   background: rgb(236, 232, 232);
   color: blue;
   border: white;
}
p.card-text {
   font-size: 20px;
   font-weight: 600;
   color: rgb(100, 94, 94);
}
.footer {
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   font-size: 16px;
   color: rgb(82, 79, 79);
   margin-top: 120px;
   font-weight: 500;
}
a.fab.fa-google-play {
   font-size: 40px;
   color: rgb(82, 79, 79);
   margin: 10px;
}
i.fab.fa-apple {
   font-size: 40px;
   margin-left: 1rem;
   color: rgb(82, 79, 79);
   cursor: pointer;
}
a.fab.fa-apple {
   font-size: 40px;
   color: rgb(82, 79, 79);
   border: none;
   
}
.card.bg-muted.shadow-sm {
   width: 4rem;
   height: 31rem;
}