*{
	margin:0%;
	padding: 0%;
	font-family: Gilroy, sans-serif;
}
.header {
    overflow: hidden;
    padding: 20px 10px;
    border: 1px red;
    box-shadow: 1px 1px #d3d0d0;
 }
 .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
 }
 .header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20%;
 }
 /* .header a:hover {
    background-color: #ddd;
    color: black;
 } */
 .header a.active {
    background-color: dodgerblue;
    color: white
 }
 .header-right {
    float: right;
    margin-right: 20%;
 }
 @media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }
 .header-right {
    float: none;
 }
}
*{
    font-family: Gilroy, sans-serif;
}
.header {
    overflow: hidden;
    padding: 20px 10px;
    border: 1px red;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 8%;
    width: 30%;
}
.header a.active {
    background-color: dodgerblue;
    color: white
}
.header-right {
    float: right;
    margin-right: 20%;
}
@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }
.header-right {
    float: none;
}
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: rgb(82, 79, 79);
    margin-top: 120px;
    font-weight: 500;
}
.part{
    padding-left: 10%;
    margin-top: 3%;
}
.part1{
    padding-left: 20%;
    margin-top: 3%;
    margin-bottom: 8%;
}
.part1 i{
    padding:3%;
    font-size: xx-large;
}
.images{
    width: 100%;
    height:400px;
}
.text{
    color:white;
    margin-top: -235px;
    text-align: center;
    /* font-size: x-large; */
    font-family: Gilroy, sans-serif;
}
.search{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}
#searchfield{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 25px;
    height: 65px;
    width: 30%;
}
input.form-control.form-control-lg.form-control-borderless.bg-light {
    border: none;
}
#button{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    float: left; */
    /* margin-left: -6rem;
    height: 45px;
    border-radius: 20px;
    margin-top: 8px;
    border-radius: 20px;
    float: left;  */
    border-radius: 20px;
    /* margin-right: 40%; */
}
.main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 90px;
}
.vr {
    width:1px;
    background-color:grey;
    position:absolute;
    /* top:0; */
    /* bottom:0; */
    left:500px;
    height: 65rem;
}
.jobCards{
    width:100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: gray;
}
.arrow{
    margin-top: -5%;
    margin-left: 90%;
}
#box{
    height: 20px;
    width: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tittle{
    display: flex;
    justify-content: center;
}
.reset{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    float: none;
    /* margin-left: 0px; */
    font-size: x-large;
}
.masthead {
    background-image: url(./img/bg5.jpg);
    padding: 10rem;
    margin-top: -4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.font-weight-light {
    font-weight: bolder;
    font-size: 350%;
    color: white;
}
img {
    margin-left: -15rem;
}
button.btn.btn-lg.btn-primary {
    margin-left: -15rem;
    border-radius: 15px;
    background: rgb(47, 47, 207);
}
input.form-control.form-control-lg.form-control-borderless {
    height: 5rem;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    width: 70%;
    margin-left: 8rem;
    color: rgb(24, 23, 23);
    padding: 30px;
}
img {
    margin-left: 1rem;
    width: 1rem;
    cursor: pointer;
}
.right {
    width: 35rem;
    margin-left: 17rem;
    margin-top: -52rem;
}
.bg-muted.shadow.p-4.jobCards {
    height: 11rem;
}


/* checkbox */
/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  /* .container1:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: rgb(43, 45, 153);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    text-align: center;
  }
  span.checkmark {
    border-radius: 5px;
    background: whitesmoke;
    
}
b {
    font-size: 25px;
    margin: 2.3rem;
}
h5.tittle {
    margin-top: -1rem;
    margin-left: 3rem;
}
a {
    font-size: 15px;
    font-weight: 700;
}
.reset p{
    font-size: 18px;
    margin-left: 2rem;
}
.vr {
    height: 79rem;
    background-color: rgb(189, 185, 185);
    margin-top: -1rem;
    border: 1px solid rgb(177, 176, 176);
}
label.container1 {
    font-size: 18px;
    color: grey;
    font-weight: 500;
}
.mm {
    margin-left: -2.3rem;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: large;
    color: gray;
    margin-top: 100px;
 }
 a.fab.fa-google-play {
    font-size: 40px;
    color: grey;
    margin: 10px;
 }
 i.fab.fa-apple {
    font-size: 40px;
    margin-left: 1rem;
    color: rgb(85, 83, 83);
    cursor: pointer;
 }
 a.fab.fa-apple {
    font-size: 40px;
    color: grey;
    
 }
 .para{
      color: black;
      font-size: 17px;
      font-weight: 700;
 }
 hr {
    
    border-top: 2px solid rgba(0,0,0,.1);
}

  .life {
    margin-left: 19.5rem;
    margin-top: -3rem;
}
button.btnn {
    border-radius: 18px;
    background-color: #fff;
    border: .5px solid rgb(189, 187, 187);
    color: #a3a3a3;
    padding: 6px 12px;
    font-size: 13px;
    cursor: pointer;
    /* font-size: 15px; */
}
label.container1:hover {
    color: blue;
}
a {
    font-weight: 400;
}
.mb-5 {
    font-size: 16px;
    font-weight: 500;
}
div {
    font-size: 16px;
    font-weight: 500;
}
