*{
	margin:0%;
	padding: 0%;
	font-family: Gilroy, sans-serif;
}
.header {
    overflow: hidden;
    padding: 20px 10px;
    border: 1px red;
    box-shadow: 1px 1px #d3d0d0;
 }
 .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
 }
 .header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20%;
 }
 /* .header a:hover {
    background-color: #ddd;
    color: black;
 } */
 .header a.active {
    background-color: dodgerblue;
    color: white
 }
 .header-right {
    float: right;
    margin-right: 20%;
 }
 @media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }
 .header-right {
    float: none;
 }
}
*{
    font-family: Gilroy, sans-serif;
}
.header {
    overflow: hidden;
    padding: 20px 10px;
    border: 1px red;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 8%;
    width: 30%;
}
.header a.active {
    background-color: dodgerblue;
    color: white
}
.header-right {
    float: right;
    margin-right: 20%;
}
@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }
.header-right {
    float: none;
}
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: large;
    color: gray;
    margin-top: 100px;
}
section.masthead {
    background: rgb(59, 59, 156);
    padding: 1%;
    margin-top: -4.5rem;
}
.btn {
    border: none;
    color: rgb(24, 21, 212);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }
  
 .btn.success {background-color: rgb(255, 255, 255);} /* Green */
  .success:hover {background-color: #bdbdbd;}
  button.btn.success {
    color: blue;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
}
.backbtnn {
    margin-left: 20rem;
}
button.btn {
    color: blue;
    font-weight: 700;
    border: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 3px;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 10px;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 10px;
  }
.fa-envelope-o{
    background: #126596;
    color: white;
    padding: 10px;

  }
  a.btn.success.h-10 {
    background: rgb(46, 46, 170);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
p1.font-weight-bold.text-black {
    font-size: 13px;
    color: rgb(68, 66, 66);
}
a.btn.success.h-10 {
    width: 10rem;
}
a.fab.fa-google-play {
   font-size: 40px;
   color: grey;
   margin: 10px;
}
i.fab.fa-apple {
   font-size: 40px;
   margin-left: 1rem;
   color: rgb(85, 83, 83);
   cursor: pointer;
}
a.fab.fa-apple {
   font-size: 40px;
   color: grey;
   
}
.row {
    padding: 60px;
}
p.para {
    color: black;
    font-size: 17px;
    font-weight: 700;
}
.col.text-left.tt {
    margin-left: 10rem;
    font-size: 21px;
    font-weight: 700;
    margin-top: -.4rem;
}
.col {
    margin-left: -40%;
    color: rgb(27, 25, 25);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}
hr.h1 {
    border-bottom: 1px solid lightgray;
    width: 70%;
    margin-left: 13rem;
}
a.btn.success.nano.bg-white {
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
}
a.btn.bb {
    color: blue;
    font-weight: 700;
    margin-top: 1rem;
}
.mb-5 {
    font-size: 16px;
    font-weight: 500;
}
div {
    font-size: 16px;
    font-weight: 500;
}
.shadow-sm.w-50.p-4 {
    margin-top: -2rem;
}